$background-color: white;
$grey-accent: grey;
$dark-accent: black;

body {
  background-color: $grey-accent;
}

#page-title {
  text-align: center;
  margin-bottom: 25px;
}

#new-palette-header {
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 25px;
  background-color: rgba(255, 255, 255, 0.7);
}

#new-palette-button{
  background-color: rgb(255, 255, 255);
  width: 40%;
  margin: 0 auto;
  padding: 5px;
}
#new-palette-button:hover{
  background-color: rgba(240, 240, 232, 0.863);
}

.buffer {
  background-color: red;
  height: 200px;
}

#color-palette {
  justify-content: center;
}

#palettes {
  display: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-gap: 10px;
  color: white;
}

.palette-color {
  width: 250px;
  height: 250px;
  text-align: center;
  line-height: 200px;
  border: 2px solid white;
  border-radius: 50%;
}

.wrapper2 {
  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px;
  grid-gap: 1px;
  color: white;
}

.palette-display{
  height: 40px;
  background-color: greenyellow;
  text-align: center;
  line-height: 40px;
  color: black;
}

.color-value {
  display: none;
}