$background-color: white;
$grey-accent: grey;
$dark-accent: black;

body {
  margin: 0px;
}

#palette {
}

.wrapper {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 10px;
  color: white;
}

.color-box {
  width: 200px;
  height: 200px;
  background-color: rgb(185, 63, 63);
  margin: 5px auto;
  text-align: center;
  line-height: 200px;
}