$background-color: white;
$grey-accent: grey;
$dark-accent: black;

body {
  // margin: 0;
  background-color: $grey-accent;
  width: 100vw;
}

#page-title {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

#new-palette-header {
  width: 100%;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
  background-color: rgba(255, 255, 255, 0.7);
}

#new-palette-button{
  background-color: white;
  width: 40%;
  margin: 0 auto;
  padding: 5px;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

#new-palette-button:hover, #save-palette-button:hover, #test-theme-button:hover {
  background: black;
  color: white;
}

#save-palette-button {
  background: white;
  color: black;
  width: 20%;
  float: right;
  height: 100%;
  margin: 0 auto;
  padding: 5px;
  border-left: 2px solid black;
}


#test-theme-button {
  background: white;
  color: black;
  width: 20%;
  float: left;
  height: 100%;
  margin: 0 auto;
  padding: 5px;
  border-right: 2px solid black;
  display: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.pulse {
  box-shadow: 0 0 0 0 rgb(255, 255, 255);
  transform: scale(1);
  animation: pulse-shadow 2s 2.5;
}

@keyframes pulse-shadow {
  0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  
  70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

#saved-palettes ul:hover {
  color: white;  
  text-decoration: underline;
}

.row {
  width: 100vw;
}

#palettes {
  display: none;
}

//TEST THEME GRID
#theme-body {
  width: 600px;
  height: 410px;
  padding: 5px;
  margin-left: 35px;
  margin-bottom: 15px;
  border: 2px solid white;
  display: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* no grid support? */
#test-sidebar {
  // float: left;
  width: 19.1489%;
}

#test-content {
  // float: right;
  width: 79.7872%;
}

/* make a grid */
#theme-test {
  max-width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
}

#theme-test > * {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  /* needed for the floated layout*/
  margin-bottom: 10px;
}

#test-header, #test-footer {
  grid-column: 1 / -1;
  /* needed for the floated layout */
  clear: both;
}

/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grids we have gaps. */
@supports (display: grid) {
  #theme-test > * {
    width: auto;
    margin: 0;
  }
}
//TEST THEME GRID END

.wrapper {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-gap: 10px;
  color: white;
  justify-content: center;
}

.palette-color {
  width: 250px;
  height: 250px;
  text-align: center;
  line-height: 235px;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 50%;
}

.wrapper2 {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
  grid-gap: 1px;
  color: white;
}

.palette-display{
  height: 50px;
  text-align: center;
  line-height: 40px;
  color: black;
}

.palette-display:hover {
  border: 2px solid white;
}

#current-color {
  height: 110px;
  padding-top: 25px;
  border: 2.5px solid white;
  border-radius: 15px;
  color: white;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1.5px;
  // display: none;
}

//Mobile Responsiveness
@media (max-width: 992px){  
  #save-palette-button {
    width: 28%;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-gap: 40px;
    color: white;
  }
  
  .palette-color {
    width: 180px;
    height: 180px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    line-height: 160px;
    border: 2px solid white;
    border-radius: 50%;
  }
  
  #current-color {
    margin-left: 45px;
    margin-bottom: 25px;
    height: 90px;
    width: 325px;
    padding-top: 25px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1.5px;
  }
}