body {
  margin: 0;
  background-color: grey;
  width: 100vw;
}

#page-title {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

#new-palette-header {
  width: 100%;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
  background-color: rgba(255, 255, 255, 0.7);
}

#new-palette-button {
  background-color: white;
  width: 40%;
  margin: 0 auto;
  padding: 5px;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

#new-palette-button:hover, #save-palette-button:hover, #test-theme-button:hover {
  background: black;
  color: white;
}

#save-palette-button {
  background: white;
  color: black;
  width: 20%;
  float: right;
  height: 100%;
  margin: 0 auto;
  padding: 5px;
  border-left: 2px solid black;
}

#test-theme-button {
  background: white;
  color: black;
  width: 20%;
  float: left;
  height: 100%;
  margin: 0 auto;
  padding: 5px;
  border-right: 2px solid black;
  display: none;
}

#saved-palettes ul:hover {
  color: white;
  text-decoration: underline;
}

.row {
  width: 100vw;
}

#palettes {
  margin-left: 2em;
  display: none;
}

#theme-body {
  width: 600px;
  height: 410px;
  padding: 5px;
  margin-bottom: 15px;
  border: 2px solid white;
  display: none;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* no grid support? */
#test-sidebar {
  width: 19.1489%;
}

#test-content {
  width: 79.7872%;
}

/* make a grid */
#theme-test {
  max-width: 940px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
}

#theme-test > * {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  /* needed for the floated layout*/
  margin-bottom: 10px;
}

#test-header, #test-footer {
  grid-column: 1 / -1;
  /* needed for the floated layout */
  clear: both;
}

/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grids we have gaps. */
@supports (display: grid) {
  #theme-test > * {
    width: auto;
    margin: 0;
  }
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 200px 200px 200px 200px;
      grid-template-columns: 200px 200px 200px 200px 200px;
  grid-gap: 10px;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.palette-color {
  width: 250px;
  height: 250px;
  text-align: center;
  line-height: 235px;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 50%;
}

.wrapper2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 50px 50px 50px 50px;
      grid-template-columns: 50px 50px 50px 50px 50px;
  grid-gap: 1px;
  color: white;
}

.palette-display {
  height: 50px;
  text-align: center;
  line-height: 40px;
  color: black;
}

.palette-display:hover {
  border: 2px solid white;
}

#current-color {
  height: 110px;
  width: 335px;
  padding: 10px;
  border: 2.5px solid white;
  border-radius: 15px;
  margin-top: 25px;
  margin: 0 auto;
  margin-bottom: 25px;
  color: white;
  text-align: center;
  line-height: 85px;
  font-weight: bold;
  letter-spacing: 1.5px;
  display: none;
}

@media (max-width: 992px) {
  #save-palette-button {
    width: 28%;
  }
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100px 100px 100px 100px 100px;
        grid-template-columns: 100px 100px 100px 100px 100px;
    grid-gap: 40px;
    color: white;
  }
  .palette-color {
    width: 180px;
    height: 180px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    line-height: 160px;
    border: 2px solid white;
    border-radius: 50%;
  }
  #current-color {
    height: 60px;
    width: 270px;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1.5px;
    line-height: 45px;
    top: 390px;
    left: 300px;
  }
}
/*# sourceMappingURL=styles.css.map */